bug/
.idea/

### pyspider ###
pyspider/**/__pycache__/
pyspider/data/
pyspider/logs/*.log

### jobsWeb ###
jobsWeb/**/__pycache__/
jobsWeb/data/**
jobsWeb/logs/*.log
jobsWeb/venv
!/jobsWeb/venv/requirements.txt